html, body {
  min-width: 290px;
  color: black;
  background-color: #ffffff;
  font-family: Courier;
  line-height: 115%;
  font-size: 100%;
  scroll-behavior: smooth;
}

header{
  margin-left:0;
  background-color: lightblue;
  color: white;
  width: 100%;
  font-size: 100%;
  font-family: Courier;
}

#navbar {
  position: fixed;
  min-width: 0%;
  top: 2%;
  left: 0%;
  width: 15.25%;
  height:100%;
  border-right: solid;
  border-color: rgba(0, 22, 22, 0.4);
  background-color: lightyellow;
  font-size: 90%;
  font-family: Courier;

}

#main-doc {
    position: relative;
    margin-left: 15%;
    margin-top: -.35%;
    background-color:lightyellow;
    font-size: 100%;
  }

li {
  list-style:none;
  color: inherit;
  font-size: 100%;
}
a {
  color: black;
  text-decoration: none;
  margin-left: -15%;
  position: center;
  font-size: 100%;
 
}





/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 1%;
  width: 100%;
  text-align: left;
  border: none;
  outline: solid;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}