*{
  font-family: 'Courier New', Courier, monospace;
}
@media screen and (max-width: 800px) { 
  .navbar {
    background-color: black;
    grid-template-columns: 1fr;
  } 
} 


.navbar{
  background-color: rgba(255, 0, 0, 0.7);
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-shadow: 3px 3px 3px yellow;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 175%;  
  border-radius: 1em;
}
#navLogo img{
  border-radius: 10em;
  margin-left: 10%;
  padding: 2%;
  vertical-align: middle;
}


.navbar ul{
  margin-right: 10%;
}

.navbar li{
  display: inline-block;
  list-style: none;
  text-align: center;
  float: right;
  padding: 10px;
  margin-left: 5%;
  vertical-align: middle;
}

/* ------------------- */

.hero{
  background-color: lightgray;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
  align-items: center;
  border-radius: 1em;
}
.heroText {
  text-align: right;
  margin-right: 5em;
}

.heroImage img{
  width: 100%;
  height: auto;
  justify-content: left;
  border-radius: 1em;
}

/* ------------------- */

.title1Title{
  font-size: 200%;
  text-align: center;
}

.title1{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
  align-items: center;
}

.title1Text {
  text-align: left;
  margin-left: 5em;
}
.title1Text p{
  text-align: justify;
}

.title1Image img{
  width: 100%;
  height: auto;
}
/* ----------------- */

.title2Title{
  font-size: 200%;
  text-align: center;
}

.title2{
  background-color: lightgray;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
  align-items: center;
  border-radius: 1em;
}
.title2Text {
  text-align: right;
  margin-right: 5em;
}

.title2Image img{
  width: 100%;
  height: auto;
  justify-content: left;
  border-radius: 1em;
}
/* ---------------- */
.ourTeam{
  font-size: 200%;
  text-align: center;
}
/* ---------------- */
.threeCards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 10%;
  margin-right: 10%;

}
#adam, #abraham, #daniel{
  background-color: rgba(255, 0, 0, 0.351);
  border: solid;
  border-radius: 1em;
  margin: 3%;
  width: auto;
  height: 100%;
  text-align: center;
  border-style: none;
  font-size: 150%;
}
#adam img{
  width: 75%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#daniel img{
  width: 85%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#abraham img{
  width: 75%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.threeCards button{
  background-color: magenta;
  padding: 2em;
  border-radius: 3em;
  border-style: none;
}
.threeCards button:hover{
  background-color: lightyellow;
  border-style: solid;
  border-color: magenta;
}
/* --------------- */

.callToAction{
  position: relative;
  color: white;
  margin-left: 10%;
  margin-right: 10%;
}
.callToActionText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 200%;
  text-align: center;
}
.callToAction img{
  margin-top: 5%;
  margin-bottom: 5%;
  width: 100%;
  border-radius: 1em;

}

#bookAppointment{
  background-color:lightsalmon;
  padding: 5%;
  border-radius: 1em;
}
#bookAppointment:hover {
  padding: 5%;
  border-radius: 1em;
  background-color: lightyellow;
}
/* ---------------- */
footer{
  background-color: cornflowerblue;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 10%;
  padding-bottom: 10%;
  padding-left:5%;
  padding-right: 7%;
  border-radius: 1em;

}


#footerLogo img{
  width: 125px;
  border-radius: 10em;
  margin: .3em;
  display: inline-block;
  
}
.footerSection1 {
  display: inline-block;
}

