
@import url(https://fonts.googleapis.com/css?family=Work+Sans:300,600);

body{
	font-size: 100%;
  font-family: Arial, Helvetica, sans-serif;
	color: rgb(0, 0, 0);
  text-align: center;
  background-color: #00eeff;
}

h1{
  font-weight: 300;
  margin: 0px;
  padding: 0px;
  font-size: 100%;
  background-color: #444;
  color: #fff;
}

.question{
  font-size: 100%;
  margin-bottom: 1%;
  z-index: 0;

}

.answers {
  text-align: left;
  display: inline-block;
  z-index: 3;
  font-size: 100%;

}

.answers label{
  display: block;
  z-index: 2;

}

.buttons{
z-index: 2;
}

button{
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	background-color: rgb(0, 86, 120);
	color: #fff;
	padding: 1%;
	cursor: pointer;
	margin-bottom: 2%;

}
button:hover{
	background-color: rgb(193, 0, 0);
  color: white
}

.buttons{
  /* z-index:1 places buttons on same level as .questions */
  z-index: 2;
}


.slide {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 0;
  opacity: 0;
  transition: opacity 0.75s;
}
.active-slide {
  opacity: 1;
  z-index: 2;
}
.quiz-container {
  position: relative;
  height: 11em;
  margin-top: 2%;
  font-size: 100%;

}

#results, #percentage, #modeling-expressions, #order-of-operations, #evaluating-expressions, #submitDate{
  padding-left: 1em;
  text-align: center;
}
