.tree{
    position: left;
    width: 100%;
    margin: 10%;
}
#treeText{
    width: 90%;
    margin: 10%;
    text-align: left;
}
#treeLogo{
    display: inline-block;
}






#slideicon1{
    width: 30%;
}

#slidetext1 {
    width: 50%;
    text-align: right;

}







#rowTwo {
}

#slideicon1{
    float: left;
        margin: 0%;

}

#slidetext1{
    float: right;
    margin: 10%;
    text-align: justify;
}

.button {
    background-color: red; /* Green */
    border: none;
    color: red;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
