#slideicon1{
    width: 30%;
}

#slidetext1 {
    width: 50%;
    text-align: right;

}

#rowTwo {
}

#slideicon1{
    float: left;
    margin-top: 12.5%;
        margin: 10%;

}

#slidetext1{
    float: right;
    margin: 10%;
    text-align: justify;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
