* {
   background-repeat: no-repeat;
    font-family: 'Courier New', Courier, monospace;
    grid-gap: 1em;
    border-color: black;
    margin: .5em;
}

.inputForm{
    background-color: purple;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1em;
}

body {
    background-image: url(https://i.imgur.com/CgKDPlb.gif);
    text-align: center;
    object-fit: cover;
}

.inputForm {
    display: grid;
    grid-template-columns: 1fr ;
}

.incomeContainer, .taxesContainer, .retirementContainer, .singleFilerContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
    
.taxesContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}



@media screen and (max-width: 975px) {
    .incomeContainer, .taxesContainer, .retirementContainer, .singleFilerContainer{
        display: grid;
        grid-template-columns: 1fr;
    }
}


.taxBracketContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}