* {
   background-repeat: no-repeat;
    font-family: 'Courier New', Courier, monospace;
    grid-gap: 1em;
    border-color: black;
    margin: .5em;
}

.inputForm{
    background-color: purple;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1em;
}

body {
    background-image: url(https://i.imgur.com/CgKDPlb.gif);
    text-align: center;
    object-fit: cover;
}

.inputForm {
    display: grid;
    grid-template-columns: 1fr ;
}

.incomeContainer, .taxesContainer, .retirementContainer, .singleFilerContainer{
  border: solid;
  border-radius: 1em;
  margin: 1em;
}

.incomeContainer, .taxesContainer, .retirementContainer, .singleFilerContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}
    
.taxesContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}



@media screen and (max-width: 975px) {
    .incomeContainer, .taxesContainer, .retirementContainer, .singleFilerContainer{
        display: grid;
        grid-template-columns: 1fr;
    }
}


.taxBracketContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}






/* Dropdown button Hover/Focus*/

.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover {background-color: #ddd}
  .show {display:block;
  }

 