:root{
    font-family: 'Special Elite', cursive;
    margin-left: -10px;
    margin-right: -10px;
    background-color: #fae592;

}




/* NavBar - Starts */
#navbar {
  z-index:1;
  background-color:#96ceb4; /* Black background color */
  position: fixed; /* Make it stick/fixed */
  top: 0; /* Stay on top */
  width: 100vw; /* Full width */
  transition: top .5s; /* Transition effect when sliding down (and up) */
  overflow: auto;
  margin-left: .5%;
}
#navbar a {
  float: left;
  display: block;
  color: #333;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  position: relative;
}
#navbar a:hover {
  background-color: #ddd;
  color: black;
}
/* NavBar - Ends */




/* SlideShow - Starts */
#slideshow{
    height: 100vh;
}
/* SlideShow - Ends */




/* Apps Description - Starts */
th {
    width: 30%;
    background-color: #ddd;
}
tr{
    width: 100%;
}

li {
    display: block;
    float: right;
    padding-right: 1%;
    background-color: lightcoral;
    padding-top: 3%;
}
a {
    color: red;
    font-family: Arial, Helvetica, sans-serif; text-decoration: none;
    font-stretch: expanded;
}
a:hover {
    background-color: lightcoral;
    box-sizing: border-box;
}
table, th, td {
  border: 1px  black;
  padding: 2%;
}

table {
  border-spacing: 0px;
  border-color: green;
}
/* Apps Description - Ends */




/* SlideIn Effect - Starts */
#rowTwo {
    background-color:#ddd;
    height: 100vh;
}
.intro-text{
    width: 100%;
    opacity: 0;
    transform: translateX(100%);
    transition: .5s all ease-in-out;
}

.intro-appear{
    opacity: 1;
    transform: translateX(0px);
    color: darkred;
}
/* SlideIn Effect - Ends */




/*CONTACT-FORM*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
.wrapper{
  width: 66%;
  margin-left: 13%;
  margin-top: 5%;
  margin-bottom: 5%;

}
.wrapper h2{
  text-align: center;
  letter-spacing: 3px;
  color: navy;
}
.wrapper .input_field{
  margin-bottom: 5px;
}
.wrapper .input_field input[type="text"],
.wrapper textarea{
  border: 3px solid rgb(101, 101, 0);
  width: 100%;
  padding: 10px;
  font-family: 'Special Elite', cursive;
}
.wrapper textarea{
  resize: both;
  height: 80px;
}
.wrapper .btn input[type="submit"]{
  margin-top: 15px;
  margin-left: 33.33%;
  padding: 10px;
  text-align: center;
  width: 33%;
  background: yellow;
  color: #332902;
  text-transform: uppercase;
  letter-spacing: 4%;
  font-family: 'Special Elite', cursive;
  font-weight: bold;
  border-radius: 15px;
  cursor: pointer;
}
#error_message{
  margin-bottom: 20px;
  background: #fe8b8e;
  padding: 0px;
  text-align: center;
  font-size: 14px;
  transition: all 0.5s ease;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: lightblue;
  background-color: white;
  opacity: 1; /* Firefox */
}
/*END of CONTACT*/


/*     

*/


/*FOOTER*/
footer{
	position: relative;
	bottom: 0;
}
.footer-distributed{
	background-color: #333;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px 'Special Elite' sans-serif;
 
	padding: 10% 10%;
	margin-top: 0%;;
}
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}
.footer-distributed .footer-left{
	width: 55%;
}
.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Special Elite', cursive;
	margin: 0;
}
.footer-distributed h3 span{
	color:  #5383d3;
}
.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 0% 0 0%;
	padding: 0;
    margin-bottom: 5%;
}
.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}
.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 100%;
	font-weight: normal;
	margin: 0;
}
.footer-distributed .footer-center{
	width: 33%;
}
.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size:;
	width: 33%;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 0px 15%;
	vertical-align: middle;
}
.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}
.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}
.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}
.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}
.footer-distributed .footer-right{
	width: 33%%;
}
.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}
.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
    margin-top: 2%;
	margin-bottom: 0px;
}
.footer-distributed .footer-icons{
	margin-top: 25px;
}
.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;
	font-size: 20px;
	color:#ffffff;
	text-align: center;
	line-height: 35px;
	margin-right: 3px;
	margin-bottom: 5px;
}
/*FOOTER END*/









