@media screen and (max-width: 900px) {
  body {
    background-color: red;
  }
}
:root{
    font-family: 'VT323', monospace;
    background-color:#390164;
    display: grid;
    @media screen (max-width: 700px) {
      background-color: black; 
    }
}

.wrapper{
  display: grid;
  grid-template-columns: 1fr;
  padding-left: 1.5rem 2rem;
  padding-right: 1.5rem 2rem;
  grid-gap: 1%;
}

.sub-wrapper{

}

.boxes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    background-color: #96439d;
}

.box{
    text-align: center;
    padding: 1.5rem 2rem;
    color: yellow;
}


/* NavBar - Starts */
#navbar {
  z-index: 1;
  font-size: 150%;
  background-color: yellow; /* Black background color */
  position: fixed; /* Make it stick/fixed */
  top: 0; /* Stay on top */
  width: 100vw; /* Full width */
  transition: top 3s; /* Transition effect when sliding down (and up) */
  overflow: none;
  padding: 1%;
}
#navbar a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  text-decoration: none;
  position: relative;
}
#navbar a:hover {
  background-color: #ddd;
  color: black;
}
/* NavBar - Ends */











/* SlideShow - Start */

/* Contains the Slideshow div within itself */
.container {
  text-align: center;
  color: yellow;
  height: 100%;
}
#slide-in{
  height: 100%;
}

/* Centered text */
.centered {
  position: absolute;
  top: 45%;
  left: 50%;
  font-size:  300%; ;
  transform: translate(-50%, -50%);
}

#slideshowText {
  background-color: #390164;
}

/* SlideShow - End */

/* Row Two */
.wrapper #sub-wrapper{
  display: grid;
  grid-row: columns 1fr 1fr;
  background-color:grey;
  width: 100%
}

/* Row Two End*/










/* Apps Description - Starts */

tbody{
    width: 100%;
}
li {
    background-color: lightcoral;
}
a {
    color: red;
    font-stretch: expanded;
}
a:hover {
    background-color: lightcoral;
    box-sizing: border-box;
}
table, td {
  color: yellow;
  font-size: 115%;
  margin: 1%;
}
table {
  border-color: green;
  padding-top: 0;
}
#dataTable{
  background-color: #96439d;
  padding: 5%;
}
#trees img{
  padding-bottom: 10%;
}

/* Apps Description - Ends */











/* SlideIn Effect - Starts */

#dataTable{
  width: 100%;
  background-color: #96439d;
}

.intro-content {
  height: 100%;
}
.intro-text {
  font-size: 150%;
}
.secondRow {
  background-repeat: no-repeat;
  height: 100%;
}
#rowTwo {
  padding-top: 0;
  display: center;
}
.rowThree{
  justify-content: center;
}
.rowFour {
  height
}

.intro-text{
    width: 100%;
    opacity: 0;
    transform: translateX(100%);
    transition: .5s all ease-in-out;
    justify-content: center;
    align-items: center;
}

.intro-appear{
    opacity: 1;
    transform: translateX(0px);
    width: 98%;
}
/* SlideIn Effect - Ends */












/*CONTACT-FORM*/

.contactForm{
  background-color: #96439d;
}
.wrapper h2{
text-align: center;
color: yellow;
}
.wrapper .input_field{
  margin-bottom: 1%;

}
.wrapper .input_field input[type="text"],
.wrapper textarea{
  border: 3px solid rgb(82, 50, 226);
  width: 80%;
  padding: 10px;
}
.wrapper textarea{
  resize: both;
  height: 80px;
}
.wrapper .btn input[type="submit"]{
  margin-top: 5px;

  padding: 10px;
  text-align: center;
  width: 15%;
  background: yellow;
  color: #332902;
  text-transform: uppercase;
  letter-spacing: 4%;
  font-weight: bold;
  border-radius: 15px;
  cursor: pointer;
}
#error_message{
  margin-bottom: 20px;
  padding: 0px;
  text-align: center;
  font-size: 100%;
  transition: all 0.5s ease;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: lightblue;
  background-color: white;
  opacity: 1; /* Firefox */
}
/*END of CONTACT*/


/*     

*/


/*FOOTER*/
footer{
	position: relative;
	bottom: 0;
}
.footer-distributed{
	background-color: #96439d;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
  margin-top: 0%;
}
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}
.footer-distributed .footer-left{
	width: 50%;
}
.footer-distributed h3{
	color:  #ffffff;
  font-family: 'VT323', monospace;	margin: 0;
}
.footer-distributed h3 span{
	color:  #5383d3;
}
.footer-distributed .footer-links{
	color: yellow;
	margin: 0% 0 0%;
	padding: 0;
  margin-bottom: 5%;
}
.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}
.footer-distributed .footer-company-name{
	color:  darkblue;
	font-size: 100%;
	font-weight: normal;
	margin: 0;
}
.footer-distributed .footer-center{
}
.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: yellow;
	text-align: center;
	line-height: 10%;
	vertical-align: middle;
}
.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}
.footer-distributed .footer-center p{
	display: inline-block;
	color: yellow;
	vertical-align: middle;
	margin:0;
}
.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}
.footer-distributed .footer-center p a{
	color:  darkblue;
	text-decoration: none;;
}
.footer-distributed .footer-right{
	width: 33%%;
}
.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  yellow;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}


/*FOOTER END*/









