*{
    background-color:transparent;
}
html{
    background-color: transparent;
    font-family: 'VT323', monospace;
    padding: 5%;
    background-image: url(https://i.imgur.com/CgKDPlb.gif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
body{
    background-color: transparent;
}
header{
    color: blue;
    font-size: larger;
    margin-bottom: 1em;
    flex-wrap: wrap;
    text-transform: uppercase;
}
header, h1{
    font-size: 200%;
    background-color: purple;
    padding: .25em;
}
h1{
    margin: 0;
    text-align: center;
    color: #ffd300;
}
#zoom{
    transition: transform 2s;
    box-shadow: 0 0 2px 2px yellow;

}
#zoom:hover {
    transform: scale(1.05); 
    overflow: none;
}


.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1.25em;
    grid-row-gap: 1.25em;
}
.wrapperTwo{
    padding: 1em;
    background: purple;
    row-gap: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    color: white;
}
.wrapperTwo, p{
    color: black;
    text-align: center;
    text-transform: uppercase;
}
button{
    position:relative;
}


/* SLIDESHOW */
/* REVIEW CSS */
.mySlides {
    display: none;
  }
  
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -120px;
    padding-left: 10px;
    padding-right: px;
    padding-bottom: 10px;
    color: #A371D1;
    font-weight: bold;
    font-size: 60px;
    transition: 0.5s ease;
    border-radius: 0 15px 15px 0;
  }
  
  .next {
    right: 0px;
    border-radius: 15px 0px 0px 15px;
  }
  
  .prev:hover,
  .next:hover {
    background-color: white;
  }
/* SLIDESHOW ENDS */







.wrapperThree{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(auto);
    grid-gap: 1em;
    object-fit: cover;

}
img {
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
}


.box1{
    grid-column: 1/3;
    grid-row: 1/3;
}
.box2{
    grid-column: 1/3;
    grid-row: 1/3;
}
.box3{
    grid-column: 1/3;
    grid-row: 1/3;
}
.box4{
    grid-column: 1/3;
    grid-row: 1/3;
}


/* FOOTER FLEX BOX USED BELOW */
.site-footer{
    background-color: yellow;
    width: 100%;
    text-transform: uppercase;
}
.container{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-left: 2em;
    padding-right: 1em;

}
.footer1{
    flex: 2;
    text-align: center;
    align-items: center; 
    justify-content: center;
}
.footer2{
    flex:1;
    text-align: center;
    align-items: center; 
    justify-content: center;
}
.footer3{
    flex:1;
    text-align: center;
    align-items: center;
    justify-content: center;
}
#aboutUs{
    font-size: 200%;
}
hr{
    color: none;
    border-bottom: black;
}
